[submodule "openIndu-backend"]
	path = openIndu-backend
	url = https://gitee.com/openIndu/openIndu-backend.git
	branch = master

[submodule "openIndu-admin"]
	path = openIndu-admin
	url = https://gitee.com/openIndu/openIndu-admin.git
	branch = master

[submodule "openIndu-portal"]
	path = openIndu-portal
	url = https://gitee.com/openIndu/openIndu-portal.git
	branch = main
